%header#navbar{ data: { controller: 'navbar' }}
  %picture
    %source{ type: 'image/webp', srcset: image_path("aporo-icon.webp") }
    %source{ type: 'image/png', srcset: image_path("aporo-icon.png") }
    %img{ src: image_path("aporo-icon.png"), alt: 'Ícone da Plataforma Áporo' }
  %h1 Plataforma Áporo
  - if user_signed_in?
    %button{ data: { target: 'navbar.button', action: 'navbar#toggle' } }
      = icon 'fas', 'bars'
    %nav
      %ul
        %li
          %a Respostas
        %li
          = link_to 'Usuários', users_path
        %li
          = link_to 'Minha Conta', user_path(current_user)
        %li
          = link_to 'Terminar Sessão', destroy_user_session_path, method: :delete
