a,
button,
[type="button"],
[type="reset"],
[type="submit"] {
  @extend .text-label;
}

a.button,
button,
[type="button"],
[type="reset"],
[type="submit"] {
  display: inline-block;
  border: none;
  border-radius: $border-radius;
  padding: $spacing-1 0 $spacing-1 0;
  text-align: center;
  
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &:active {
    background-color: $color-primary-light;
  }

  &.primary {
    background-color: $color-primary-darker;
    color: $color-white;

    &:hover {
      background-color: $color-primary-dark;
    }

    &:active {
      background-color: $color-primary-light;
    }
  }

  &.secondary {
    border: 2px solid $color-primary-darker;

    &:hover {
      border: 2px solid $color-primary;
    }
  }

}

a {
  color: $color-grey-darker;
  text-decoration: none;

  &:hover {
    text-decoration: underline $color-primary-dark 2px;

    i {
      color: $color-primary-dark;
    }
  }
}
