%section
  %p.full_paragraph Considerando
  %ul
    %li
      %p (1) a pandemia da COVID-19 causada pelo novo Coronavírus;
    %li
      %p (2) a recente determinação, por todas as autoridades, para se evitar a aglomeração de pessoas;
    %li
      %p e (3) as denúncias recebidas pelo Ministério Público Estadual e a Defensoria Pública Estadual sobre a grave exposição promovida pela Empresa Vale na distribuição dos vouchers,
  %p no dia 16/03, foi realizado um Acordo entre as partes, no âmbito do processo nº 5000901-97.2019.8.13.0188.
  %p.link.full_paragraph
    = link_to 'Acesso ao acordo', 'https://cutt.ly/8ybMTMi'
  %p.full_paragraph
    Com o objetivo de analisar os efeitos produzidos com o referido Acordo assinado em 20/03/2020,
    foi firmado um Termo de Cooperação Técnica entre a Defensoria Pública Estadual de Nova Lima e o Programa Polos de Cidadania da Universidade Federal de Minas Gerais (POLOS-UFMG), sem a transferência de qualquer recurso financeiro.
    A aplicação deste formulário será realizado EXCLUSIVAMENTE pelo POLOS-UFMG, em parceria com as comunidades de Macacos.
  %details.full_paragraph
    %summary Termo de Cooperação Técnica
    %p
      Estabelecido entre a Defensoria Pública Estadual de Nova Lima e o Programa Polos de Cidadania da UFMG,
      por meio da sua Plataforma Áporo, voltada especificamente à efetivação de direitos de pessoas, famílias e comunidades em condições precárias decorrentes de conflitos urbanos e hidro-socioambientais.
  %details.full_paragraph
    %summary Proteção de dados
    %p
      Entendendo que estamos coletando dados pessoais e sensíveis, baseando-se na Lei Geral de Proteção de Dados (Lei nº 13.709/2018)),
      a coleta de informações por meio deste formulário tem ação independente do Programa Polos de Cidadania da Faculdade de Direito/Universidade Federal de Minas Gerais,
      com intuito de realização de uma pesquisa-diagnóstica para avaliação de cumprimento do acordo realizado entre o Ministério Público Estadual, Defensoria Pública Estadual e a empresa de mineração VALE.
      Os dados coletados serão acessados em sua forma inicial apenas pela equipe pesquisadora extensionista do Programa Polos de Cidadania, onde será tratada e realizado um relatório
      (se preocupando pela NÃO adição de posições próprias, seguindo apenas as informações coletadas) com o objetivo avaliativo do acordo, sendo destinado a Defensoria Pública Estadual de Nova Lima. TODOS os dados pessoais e dados sensíveis serão mantidos de forma privada, nenhum órgão, além do Polos de Cidadania UFMG, terá acesso a eles.
  %p.full_paragraph.disclaimer
    Este formulário
    %strong não tem nenhuma ligação
    com a empresa de mineração
    %strong VALE
    = "."
