%section{ form_section(active) }
  .field
    = form.label :concorda_acordo_trecho
    %blockquote= t('forms.labels.form_answer.acordo_trecho')
    = form.input :concorda_acordo_trecho, label: false, wrapper: false, as: :radio_buttons,  collection: %i[true false]
