%section
  %p Considerando
  %ol
    %li
      %p a pandemia da COVID-19 causada pelo novo Coronavírus;
    %li
      %p a recente determinação pelas autoridades sanitárias para se evitar a aglomeração de pessoas; e
    %li
      %p
        as denúncias recebidas pelo Ministério Público do Estado de MG e a Defensoria Pública do Estado
        de MG, sobre a grave exposição promovida pela Empresa Vale na distribuição dos vouchers;
  %p
    Foi realizado um Acordo entre as partes, no âmbito do processo nº 5000901-97.2019.8.13.0188, assinado em 20/03/2020.
  %p.link_acordo
    = link_to 'Acesso ao acordo', '/arquivos/Peticao-Conjunta-Vale-e-MP.pdf', target: '_blank'
%section
  %p.indent
    Com o objetivo de analisar a aplicação do referido Acordo, o Programa Polos de Cidadania da Universidade
    Federal de Minas Gerais (POLOS-UFMG), por meio de sua Plataforma Áporo, e em parceria com a comunidade de
    Macacos, realizará uma pesquisa diagnóstica-avaliativa do cumprimento do Acordo firmado entre Empresa Vale,
    Ministério Público do Estado de MG e Defensoria Pública do Estado de MG no dia 20/03/2020.
  %p.indent
    O POLOS-UFMG é um Programa Transdisciplinar de Extensão, Ensino e Pesquisa Social Aplicada analisará o referido
    Acordo, tendo em vista o compromisso com a efetivação de direitos de pessoas, famílias e comunidades em Macacos.
    Esta pesquisa é independente e, portanto, não se vincula às instituições e empresa signatárias do Acordo.
  %details
    %summary Proteção de dados
    %p
      Em cumprimento à Lei Geral de Proteção de Dados (Lei Federal nº 13.709/2018), todos os dados pessoais e sensíveis
      coletados pelo POLOS-UFMG e incluídos na pesquisa diagnóstica-avaliativa, relativa ao cumprimento do Acordo
      realizado entre Empresa Vale, Ministério Público do Estado de MG e Defensoria Pública do Estado de MG, serão
      mantidos em sigilo. Esses dados serão acessados apenas pelos integrantes da equipe científica do POLOS-UFMG.
      Nenhum outro órgão, empresa, setor ou instituição terá acesso a eles.
    %p
      Os relatórios técnicos, artigos e demais materiais de divulgação científica que venham a ser produzidos e/ou
      publicados a partir da pesquisa utilizarão as informações gerais e dados tratados a partir de critérios
      quantitativos e qualitativos de análise, de forma a torna-los anônimos e a resguardar o sigilo das pessoas que
      responderem este formulário. Os mencionados produtos serão públicos e poderão ser utilizados, respeitadas as
      regras de direitos autorais e a menção expressa ao POLOS-UFMG.
  %p
    Contato:
    %a{ href: "mailto:formulario.aporo@polosdecidadania.com.br" } formulario.aporo@polosdecidadania.com.br
%section
  %p.disclaimer
    Favor preencher um questionário para cada membro da família beneficiário de auxílio/voucher, inclusive crianças.
