#form.end
  %header
    %section.title
      %picture
        %source{ type: 'image/webp', srcset: image_path('banner.webp') }
        %source{ type: 'image/png',srcset: image_path('banner.png') }
        %img{ src: image_path('banner.png'), alt: 'Banner da Plataforma Áporo' }
      %h1
        Pesquisa sobre cumprimento de Acordo
        %br
        Macacos, MG
  %section
    %h2.text-title Formulário enviado!
    %p O POLOS-UFMG agradece sua participação.
  %section
    %p.text-label Não se esqueça de preencher um questionário por membro da família que recebe auxílio/voucher.
    = link_to 'Clique aqui para voltar ao início', formulario_path, class: 'button secondary'