#form.end
  %header
    %section.title
      %img{ src: '/arquivos/banner.png' }
      %h1
        Pesquisa sobre cumprimento de Acordo
        %br
        Macacos, MG
  %section
    %h2.text-title Formulário enviado!
    %p O POLOS-UFMG agradece sua participação.
  %section
    %p.text-label Não se esqueça de preencher um questionário por membro da família que recebe auxílio/voucher.
    = link_to 'Clique aqui para voltar ao início', formulario_path, class: 'button secondary'