.container, .main-container {
  background-color: $color-white;
  padding: $spacing-3 $spacing-4;
  border-radius: $border-radius;
}

.main-container {
  margin: auto $spacing-2;
}

.gallery {
  // https://sass-lang.com/documentation/syntax/special-functions#min-and-max
  min-width: unquote("min(calc(100vw - #{$spacing-2}), 75rem)");
  display: grid;
  grid-gap: $spacing-2;
}
