.container, .main-container {
  background-color: $color-white;
  padding: $spacing-3 $spacing-4;
  border-radius: $border-radius;
}

.main-container {
  margin: auto $spacing-2;
}

.gallery {
  // dumb sass fix https://sass-lang.com/documentation/syntax/special-functions#min-and-max
  max-width: unquote("min(100vw, 75rem)");
  display: grid;
  margin: $spacing-2;
  grid-gap: $spacing-2;
}
