#auth {
  .title {
    text-align: center;
    margin-bottom: $spacing-3;
  }

  .explanation {
    margin-top: -$spacing-1;
    margin-bottom: $spacing-3;
  }

  .errors {

  }

  .actions {
    display: flex;
    flex-direction: column;
    grid-gap: $spacing-4;
    margin-top: $spacing-3;
  }

  .primary {
    width: 100%;
  }

  .links {
    width: 100%;
    a {
      text-align: center;
      display: block;
      margin-bottom: $spacing-0;
    }
  }
}
