#user {
  // #show
  .summary {
    margin-bottom: $spacing-2;
    max-width: 20rem;

    sub {
      top: 0;
      color: $color-grey-dark;
    }
  }

  .details {
    margin-bottom: $spacing-4;

    .admin {
      @extend .text-label;
      color: $color-grey-dark;
      text-transform: uppercase;
    }
  }

  // #edit, #new
  .actions {
    flex-direction: row;
    justify-content: space-between;


    a i {
      font-size: $font-size-largest;
    }
  }

  // #index
  header {
    @extend .elevated;
    @extend .container;
    display: flex;
    padding: $spacing-2;
    margin: $spacing-3 0 $spacing-2;

    h2 {
      text-align: center;
      flex-grow: 1;
    }
    a {
      @extend .button;
      @extend .primary;
      width: 7.5rem;
    }
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, 20rem);
  }

  li {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 7.5rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "name admin" "email email" "edit show";
    align-items: baseline;

    .name {
      @extend .text-lead;
      grid-area: name;
    }

    .admin {
      @extend .text-label;
      grid-area: admin;
      color: $color-grey-dark;
      text-transform: uppercase;
      text-align: right;
    }

    .email {
      @extend .text-body;
      grid-area: email;
    }

    .edit {
      grid-area: edit;
    }

    .show {
      grid-area: show;
      @extend .button;
      @extend .secondary;
    }
  }
}