%p Bem vindo à Plataforma Áporo, #{@resource.name}!
%p Para confirmar sua conta, por favor acesse o link abaixo:
= link_to 'Confirmar meu email', confirmation_url(@resource, confirmation_token: @token)
