%p Olá #{@resource.name}!
%p Alguém requisitou um link para redefinir sua senha. Você pode fazer isso pelo link abaixo.
= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token)
%p Se não foi você que requisitou isto, pode ignorar este e-mail. Sua senha não será alterada enquanto você não acessar o link e criar uma nova.
