%p Olá, #{@resource.name}.
%p Por segurança, bloqueamos sua conta após recebermos muitas tentativas de acessar sua conta.
%p Clique o link abaixo para desbloquear a sua conta:
%p= link_to 'Desbloqueie minha conta', unlock_url(@resource, unlock_token: @token)
